<div class="row">
    <div class="col-sm-12">
        <div class="card-box">
            <div class="row">
                <form #orderForm="ngForm" novalidate>
                    <div class="col-lg-12">
                        <h4 class="m-t-0 header-title"><b>Danh sách đơn hàng</b></h4>

                        <!-- Header -->
                        <div class="row">
                            <div class="col-md-2 col-sm-6 col-xs-12 form-group">
                                <p-multiSelect [options]="primeModelCustomers" [(ngModel)]="filterCustomerID" name="filterCustomerID" (ngModelChange)="onChangeCustomer($event)"></p-multiSelect>
                            </div>
                            <div class="col-md-2 col-sm-6 col-xs-12 form-group">
                                <div class="form-group contact-search m-b-30">
                                    <input type="text" id="search" class="form-control" placeholder="Tìm ..." name="filter" (keyup.enter)="search()" [(ngModel)]="filterKeyword">
                                    <button class="btn btn-white" (click)="search()"><i class="fa fa-search"></i></button>
                                </div>
                            </div>
                            <div class="col-md-5 col-sm-6 col-xs-12 form-group">
                                <button class="btn btn-primary" type="button" (click)="search()">Tìm</button>
                                <button class="btn btn-default" type="button" (click)="reset()">Reset</button>
                                <button class="btn btn-danger" type="button" (click)="deleteMulti()">Xóa</button>
                                <!-- <button *ngIf="_authenService.hasPermission('PRODUCT','create')" (click)="showAddModal()" class="btn btn-info" data-animation="fadein" data-plugin="custommodal" data-overlaySpeed="200" data-overlayColor="#36404a"><i class="md md-add"></i> Thêm</button> -->
                                <a [routerLink]="['../../order/edit',0,'new']" class="btn btn-default waves-effect waves-light" data-animation="fadein" data-plugin="custommodal" data-overlaySpeed="200" data-overlayColor="#36404a"><i class="md md-add"></i> Thêm mới</a>
                            </div>

                        </div>
                        <div class="row">
                            <div class="col-sm-3">

                            </div>
                        </div>
                        <!-- Header end-->

                        <!-- List -->
                        <div class="table-responsive">
                            <table class="table table-hover mails m-0 table table-actions-bar">
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th>Mã báo giá</th>
                                        <th>Tên báo giá</th>
                                        <th>Tên KH </th>
                                        <th>Mã đơn hàng</th>
                                        <th>Tên đơn hàng</th>
                                        <th>MM đặt hàng</th>
                                        <th>Kỳ hạn start</th>
                                        <th>Kỳ hạn end</th>
                                        <th>Ngày giao hàng cuối</th>
                                        <th>Trạng thái</th>
                                        <th>Ghi chú</th>
                                        <th style="min-width: 160px;"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let item of orderReceiveds">
                                        <td>
                                          <md-checkbox [value]="0" [(ngModel)]="item.Checked" [ngModelOptions]="{standalone: true}">
                                          </md-checkbox>
                                        </td>
                                        <td>
                                          <a [routerLink]="['/main/order/edit',item.ID,'edit']">{{item.EstimateID}}</a>
                                        </td>
                                        <td>{{item.EstimateName}}</td>
                                        <td>{{item.EstimateCustomerName}}</td>
                                        <td>
                                          <a [routerLink]="['/main/order/edit',item.ID,'edit']">{{item.ID}}</a>
                                        </td>
                                        <td>{{item.Name}}</td>
                                        <td>{{item.TotalOrderMM}}</td>
                                        <td>{{item.SchedulePojectStartDate| date:'yyyy/MM/dd'}}</td>
                                        <td>{{item.SchedulePojectEndDate| date:'yyyy/MM/dd'}}</td>
                                        <td>{{item.CustomerKiboLastDeliveryDate| date:'yyyy/MM/dd'}}</td>
                                        <td>
                                            {{item.OrderStatusName}}
                                        </td>
                                        <td>{{item.Note}}</td>
                                        <td>
                                            <a href="javascript:void(0)" class="table-action-btn" (click)="fileUpload.click()" title="Upload các file liên quan"><i class="fa fa-upload"></i></a>
                                            <a href="javascript:void(0)" class="table-action-btn"[routerLink]="['../../order/edit',item.ID,'edit']"  title="Cập nhật thông tin nhận đơn hàng"><i class="md md-edit"></i></a>
                                            <a href="javascript:void(0)" class="table-action-btn" (click)="deleteItem(item.ID)"><i class="md md-close" title="Xóa đơn hàng"></i></a>


                                        </td>
                                    </tr>
                                </tbody>
                            </table>

                        </div>
                        <!-- paging -->
                        <div class="col-md-12">

                            <div *ngIf="orderReceiveds && orderReceiveds.length == 0" class="col-md-12">
                                <div class="alert alert-info">
                                    <strong>Thông báo!</strong> Hiện tại chưa có dữ liệu nào ứng với loại đã chọn
                                </div>

                            </div>
                            <div *ngIf="orderReceiveds && orderReceiveds.length > 0" class="col-md-12">
                                <pagination [boundaryLinks]="true" [ngModelOptions]="{standalone: true}" [itemsPerPage]="pageSize" (pageChanged)="pageChanged($event)" [totalItems]="totalRow" [(ngModel)]="pageIndex" class="pagination-sm" previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;"></pagination>
                            </div>
                        </div>
                        <!-- paging end-->
                        <!-- List end-->
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
