.green {
  color: black;
  background-color: #b6ff00;
}

.cyan {
  color: black;
  background-color: cyan;
}

.red {
  color: black;
  background-color: red;
}

.green:not(.jqx-grid-cell-hover):not(.jqx-grid-cell-selected), .jqx-widget .green:not(.jqx-grid-cell-hover):not(.jqx-grid-cell-selected) {
  color: black;
  background-color: #b6ff00;
}

.cyan:not(.jqx-grid-cell-hover):not(.jqx-grid-cell-selected), .jqx-widget .yellow:not(.jqx-grid-cell-hover):not(.jqx-grid-cell-selected) {
  color: black;
  background-color: cyan;
}

.red:not(.jqx-grid-cell-hover):not(.jqx-grid-cell-selected), .jqx-widget .red:not(.jqx-grid-cell-hover):not(.jqx-grid-cell-selected) {
  color: black;
  background-color: red;
}