/* .accordion-list-item a:hover  {
    background:aqua;
    display: block;
    height: 100%;
    padding-top: 5px;
    box-sizing: border-box;
} */

.accordion-list-item {
    display: block;
}

.panel-color .panel-title {
    color: #0275d8;
}

.jobleave-img-overlay {
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 200;
}

.trialstaff-img-overlay {
    position: relative;
    z-index: 200;
}

.card-box {
    padding: 5px;
}

.card-box-expandable {
    height: -webkit-fill-available;
}

.line-list-item {
    width: 95%;
    border: 1px solid lightslategray;
}

.overtext {
    position: relative;
    overflow: hidden;
    margin: 20px;
    /* float: left; */
  }

.overtext > header {
    position: relative;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 20px 10px;
  }
.overtext > header > h4 {
margin: 0;
color:red;
/* Safari */
-webkit-transform: rotate(-30deg);

/* Firefox */
-moz-transform: rotate(-30deg);

/* IE */
-ms-transform: rotate(-30deg);

/* Opera */
-o-transform: rotate(-30deg);

/* Internet Explorer */
filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1);

}
  
* {
box-sizing: border-box;
}
  
.red-alert-text-rotation{
    display: table-cell;    
    position: relative;
    top: 30px;
    left: -60px;
    width: 100%;
    /*padding: 20px 10px;*/
    margin: 0;
    color:red;
    /* Safari */
    -webkit-transform: rotate(-30deg);

    /* Firefox */
    -moz-transform: rotate(-30deg);

    /* IE */
    -ms-transform: rotate(-30deg);

    /* Opera */
    -o-transform: rotate(-30deg);

    /* Internet Explorer */
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1);

}

.success-alert-text-rotation{
    display: table-cell;    
    position: relative; 
    top: 30px;
    left: -60px;
    width: 100%;
    /*padding: 20px 10px;*/
    margin: 0;
    color:greenyellow;
    /* Safari */
    -webkit-transform: rotate(-30deg);

    /* Firefox */
    -moz-transform: rotate(-30deg);

    /* IE */
    -ms-transform: rotate(-30deg);

    /* Opera */
    -o-transform: rotate(-30deg);

    /* Internet Explorer */
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1);

}

.img-circle-floating{
    float: left;
}