<div class="row">
    <div class="col-sm-12">
        <div class="card-box">
            <div class="row">
                <div class="col-lg-12">
                    <h4 class="m-t-0 header-title"><b>Danh sách nhóm/tổ </b></h4>

                    <!-- Header -->
                    <div class="row">
                        <div class="col-md-4 col-sm-6 col-xs-12 form-group">
                            <select class="form-control" name="filterDeptID" [(ngModel)]="filterDeptID" (ngModelChange)="onChangeDept($event)">
                              <option *ngFor="let x of depts" [value]="x.ID">{{x.Name}}</option>
                            </select>
                        </div>

                        <div class="col-md-3 col-sm-6 col-xs-12 form-group">
                            <div class="form-group contact-search m-b-5">
                                <input type="text" id="search" class="form-control" placeholder="Tìm ..." name="filter" (keyup.enter)="search()" [(ngModel)]="filterKeyword">
                                <button class="btn btn-white" (click)="search()"><i class="fa fa-search"></i></button>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6 col-xs-12 form-group">
                            <button class="btn btn-primary" type="button" (click)="search()">Tìm</button>
                            <button class="btn btn-default" type="button" (click)="reset()">Reset</button>
                            <button class="btn btn-danger" type="button" (click)="deleteMulti()">Xóa</button>

                        </div>

                    </div>

                    <div class="row">
                        <div class="col-sm-3">
                            <a *ngIf="_authenService.hasPermission('PRODUCT','create')" (click)="showAddModal()" class="btn btn-default btn-md waves-effect waves-light m-b-5" data-animation="fadein" data-plugin="custommodal" data-overlaySpeed="200" data-overlayColor="#36404a"><i class="md md-add"></i> Thêm mới chi tiết</a>
                        </div>
                    </div>
                    <!-- Header end-->

                    <!-- List -->
                    <div class="table-responsive">
                        <table class="table table-hover mails m-0 table table-actions-bar">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th>Mã bộ phận</th>
                                    <th>Mã nhóm</th>
                                    <th>Tên </th>
                                    <th>Tên tắt</th>
                                    <th>Ngày thành lập</th>
                                    <th>Leader</th>
                                    <th>Mail group</th>
                                    <th>Ghi chú</th>
                                    <th style="min-width: 130px;"></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let item of teams">
                                    <td>
                                        <div class="checkbox">
                                            <input type="checkbox" [(ngModel)]="item.Checked" [name]="item.ID" [ngModelOptions]="{standalone: true}">
                                            <label></label>
                                        </div>
                                    </td>
                                    <td *ngIf="item.Dept">{{item.Dept.ShortName}}</td>
                                    <td *ngIf="item.Dept==null"></td>
                                    <td>{{item.ID}}</td>
                                    <td>{{item.Name}}</td>
                                    <td>{{item.ShortName}}</td>
                                    <td>{{item.CreateDate | date:'yyyy/MM/dd'}}</td>
                                    <td *ngIf="item.TopLeader">{{item.TopLeader.FullName}}</td>
                                    <td *ngIf="item.TopLeader==null"></td>
                                    <td>{{item.MailGroup}}</td>
                                    <td>{{item.Note}}</td>
                                    <td>
                                        <a *ngIf="_authenService.hasPermission('MASTER_DATA','update')" href="javascript:void(0)" class="table-action-btn" (click)="showCopyModal(item.ID)"><i class="md md-content-copy"></i></a>
                                        <a href="javascript:void(0)" class="table-action-btn" (click)="showEditModal(item.ID)"><i class="md md-edit"></i></a>
                                        <a href="javascript:void(0)" class="table-action-btn" (click)="deleteItem(item.ID)"><i class="md md-close"></i></a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <!-- paging -->
                        <div class="col-md-12">

                            <div *ngIf="teams && teams.length == 0" class="col-md-12">
                                <div class="alert alert-info">
                                    <strong>Thông báo!</strong> Hiện tại chưa có dữ liệu nào ứng với loại đã chọn
                                </div>

                            </div>
                            <div *ngIf="teams && teams.length > 0" class="col-md-12">
                                <pagination [boundaryLinks]="true" [itemsPerPage]="pageSize" (pageChanged)="pageChanged($event)" [totalItems]="totalRow" [(ngModel)]="pageIndex" class="pagination-sm" previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;"></pagination>
                            </div>

                        </div>

                        <!-- paging end-->
                    </div>
                    <!-- List end-->
                </div>

            </div>
        </div>
    </div>
</div>

<!--Modal add and edit-->
<div bsModal #modalAddEdit="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true" [config]="{backdrop: 'static', keyboard : false}">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title pull-left">Thêm/Sửa chi tiết</h4>
                <button type="button" class="close pull-right" (click)="modalAddEdit.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
            </div>
            <div class="modal-body">
                <form class="form-horizontal form-label-left" novalidate #addEditForm="ngForm" (ngSubmit)="saveChange(addEditForm)" *ngIf="entity">

                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">Mã bộ phận</label>
                        <div class="col-md-9 col-sm-9 col-xs-12">
                            <select class="form-control" name="DeptID" [(ngModel)]="entity.DeptID" required>
                              <option *ngFor="let x of depts" [value]="x.ID">{{x.Name}}</option>
                            </select>

                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">Mã nhóm</label>
                        <div class="col-md-9 col-sm-9 col-xs-12">
                            <input type="hidden" #No="ngModel" [(ngModel)]="entity.No" name="No">
                            <input type="number" #ID="ngModel" [(ngModel)]="entity.ID" required maxlength="10" name="ID" class="form-control focusedInput" placeholder="Mã nhóm">
                            <small [hidden]="ID.valid || (ID.pristine && !addEditForm.submitted)" class="text-danger">
                            Mã nhóm bắt buộc nhập
                          </small>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">Tên nhóm</label>
                        <div class="col-md-9 col-sm-9 col-xs-12">
                            <input type="text" #Name="ngModel" [(ngModel)]="entity.Name" required name="Name" class="form-control focusedInput" placeholder="Tên nhóm">
                            <small [hidden]="Name.valid || (Name.pristine && !addEditForm.submitted)" class="text-danger">
                              Tên  bắt buộc nhập
                            </small>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">Tên tắt</label>
                        <div class="col-md-9 col-sm-9 col-xs-12">
                            <input type="text" #ShortName="ngModel" [(ngModel)]="entity.ShortName" required name="ShortName" class="form-control focusedInput" placeholder="Tên tắt">
                            <small [hidden]="ShortName.valid || (ShortName.pristine && !addEditForm.submitted)" class="text-danger">
                              Tên tắt bắt buộc nhập
                            </small>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">Ngày thành lập</label>
                        <div class="col-md-9 col-sm-9 col-xs-12">
                            <p-calendar [showIcon]="true" [(ngModel)]="entity.CreateDate" name="CreateDate" #CreateDate="ngModel" (onSelect)="selectedCreateDate($event)" dateFormat="yy/mm/dd" [monthNavigator]="true" [yearNavigator]="true" yearRange="1950:2100" class="focusedInput"
                                placeholder="Ngày thành lập "></p-calendar>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">Leader</label>
                        <div class="col-md-9 col-sm-9 col-xs-12">
                            <select class="form-control" name="TopLeaderID" [(ngModel)]="entity.TopLeaderID" required>
                              <option *ngFor="let x of emps" [value]="x.ID">{{x.FullName}}</option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">Email của team</label>
                        <div class="col-md-9 col-sm-9 col-xs-12">
                            <input type="text" #MailGroup="ngModel" pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$" [(ngModel)]="entity.MailGroup" name="MailGroup" class="form-control focusedInput" placeholder="Email của bộ phận">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">Ghi chú</label>
                        <div class="col-md-9 col-sm-9 col-xs-12">
                            <input type="text" #Note="ngModel" [(ngModel)]="entity.Note" name="Note" class="form-control focusedInput" placeholder="Ghi chú">
                        </div>
                    </div>

                    <div class="ln_solid"></div>
                    <div class="form-group">
                        <div class="col-md-9 col-sm-9 col-xs-12 col-md-offset-3">
                            <button type="button" (click)="modalAddEdit.hide()" class="btn btn-danger">Hủy bỏ</button>
                            <button type="submit" class="btn btn-success" [disabled]="!addEditForm.form.valid">Cập nhật</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>